*{
  padding: 0;
  margin: 0;
}
.footer{
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 144, 4);

}

.copy{
  background-color: rgb(173, 40, 40);
}

.app{
  background-color: rgb(30, 255, 0);
}

